# Логи и кэш
logs/
.ruff_cache/

# Секреты (API-ключи)
.env
.env.parser
parser_secrets.env
.secrets

# Временные/служебные
project3/
.venv/
venv/
dist/
*.egg-info/
*.egg

# Python
__pycache__/
*.py[cod]
*.pyo
valutatrade_hub/__pycache__/
valutatrade_hub/cli/__pycache__/
valutatrade_hub/core/__pycache__/
valutatrade_hub/infra/__pycache__/
valutatrade_hub/parser_service/__pycache__/
